@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var actionDisplay = "Create";
    if (Model.Movie.Id > 0)
    {
        actionDisplay = "Edit";
    }
}

<h2>@actionDisplay Movie</h2>

@using(@Html.BeginForm()){
    
}